.form-field {
    margin-bottom: 2%;
}

.form-field input {
    border: 1px solid #dbdbdb;
    height: 20px;
    padding: 15px;
    width: 500px;
}

.form-field input::placeholder {
     font: 1.3em 'Roboto', Helvetica, sans-serif;
     color: #a9a9a9;
}

.form-field input[type="textarea"] {
    height: 50px;
}