.experiences-main {
    margin: 0 auto;
    max-width: 99%;
}

 .experience-img-wrapper {
    background-size: cover;
    background-position: center;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}
    .experience-img-wrapper:hover {
        opacity: 0.6;
    }

.experience-card h2 {
    color:#585858;
    font: 500 1.2em/100% 'Roboto', sans-serif;
    text-transform: capitalize;
}

.experience-card h4 {
    font-size: 1em;
}

.experience-card i.fa.fa-heart-o:hover:before {
    content: "\f004";
}