.form-field {
    margin-bottom: 2%;
}

.form-field input {
    border: 1px solid #dbdbdb;
    color: #a9a9a9;
    font: 1em 'Roboto', sans-serif;
    height: 20px;
    padding: 15px;
    width: 30%;
}

.form-field input::placeholder {
    font: 1.2em 'Roboto', Helvetica, sans-serif;
    color: #a9a9a9;
}

.form-main h1, .form-main h2 {
    color:#585858;
}

.form-main h2 {
    font-size: 1.4em;
}

.form-body {
    line-height: 170%;
    margin: 0 auto;
    max-width: 30%;
}