.experiences-main {
    margin: 0 auto;
    max-width: 99%;
}

 .experience-img-wrapper {
    background-size: cover;
    background-position: center;
    height: 0;
    padding-bottom: 145%;
    width: 100%;
}
    .experience-img-wrapper:hover {
        opacity: 0.6;
    }

.experience-card {
    margin-bottom: 10%;
}

.experience-card h2 {
    color:#585858;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
}

.experience-card h4 {
    font-size: .9em;
    font-weight: 400;
}

.experience-card i.fa.fa-heart-o:hover:before {
    content: "\f004";
}