.experiences-main {
    margin: 0 auto;
    max-width: 99%;
}

.experience-card {
    float: left;
    margin: 0 .5%;
}

 .experience-img-wrapper {
    height: 340px;  
    overflow: hidden;
    width: 293px;  
}

 .experience-card img {
    margin: 0 0 0 -150px;    
    max-height: 100%; 
    min-height: 100%; 
     /* min-width: 100%; */
}  

    .experience-card img:hover {
        opacity: 0.6;
    }

/* div.experience-card:first-of-type, div.experience-card:nth-of-type(7n) {
    margin-left: 1.5%;
} */

.experience-card h2 {
    color:#585858;
    font: 500 2em/100% 'Roboto', sans-serif;
    text-transform: capitalize;
}