@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700|Roboto:100,300,400,500,700,900');

html {
    min-height: 100%;
    position: relative;
}

 a {
    text-decoration: none;
}
    a:hover, a:visited, a:active, a:focus {
        text-decoration: none;
    }

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

body {
    color: #484848; 
    font: 500 1.5em/100% 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

div.clearfix {
    margin-top: 6%;
}

/* Navbar  */

nav.brand-navbar {
    margin-bottom: 0;
}

#wrapper {
    margin-bottom: 100px;
}