@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700|Roboto:100,300,400,500,700,900');

/* .App {
    text-align: center;
} */

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

body {
    color: #484848; 
    font: 500 1.5em/100% 'Lato', sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}