.experience-show-main {
    height: 70vh;
    margin: 2% auto;
    max-width: 50%;
}

.experience-show-main h1 {
    font-weight: 700;
    margin-top: 0;
}

.show-img {
    background-position: center;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    width: 85%;
}

.experience-show-main h4 {
    font-weight: 500;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.experience-show-text {
    font-size: 1.3em;
    font-weight: 300;
}

.category {
    margin-bottom: 13%;
}

.body-text {
    margin-bottom: 4%;
}

.recommended-times-icons span.fa {
    font-size: 1.7em;
}

.recommended-times-icons span {
    margin: 20px 20px 50px 0;
}

.fa.fa-sun-o {
    color: #f2c44f;
}

.fa.fa-moon-o {
    color: #82abff;
}

.fa.fa-heart, .fa.fa-heart-o {
    color: #f75b5b;
    font-size: 1.3em;
    margin-right: 1%;
}

.experience-show-text.fa {
    opacity: .8;
}