.form-main {
    display: flex;
    justify-content: center;
}

.form-field, .form-field-select {
    margin-bottom: 5%;
}

.form-field input, .form-field-select select {
    border: 1px solid #dbdbdb;
    color: #484848; 
    padding: 15px;
}

.form-field-select select option {
    color: #a9a9a9;
}

.form-field input, .form-field::placeholder, .form-field-select select {
    font: 1em 'Lato', sans-serif;
}

.form-field input {
    color: #484848;
    height: 20px;
    width: 90%; 
}

.form-field input::placeholder {
    color: #a9a9a9;
}

.form-field-select select {
    background: #fff;
    width: 90%; 
}

.form-main h1, .form-main h2 {
    color:#585858;
    font-family: 'Roboto', sans-serif;
    line-height: 90%;
}

.form-main h2 {
    font-size: 1.3em;
}

.form-body {
    font-size: 1.09em;
    line-height: 180%;
    margin: 2% auto;
}

.form-action {
    margin-bottom: 10%;
}

button.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #ff5a5f;
    background-image: none;
    border: 2px solid #ff5a5f;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    padding: 15px 35px;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active {
    background-color: #ff7e82;
    border: 2px solid #ff7e82;
}

.form-sidebar {
    display: none;
}

.form-sidebar i {
    font-size: 2.8em;
    opacity: .7;
}

i.fa.fa-eye {
    color: #61ede1;
}

i.fa.fa-handshake-o {
    color: #ffaa91;
    margin-top: 6%;
}

i.fa.fa-ticket {
    color: #ffd77c;
    margin-top: 6%;
}

.form-sidebar h2 {
    letter-spacing: 1px;
}

@media (min-width: 1127px) {
    .form-sidebar {
        display: inline;
    }
}