.form-main {
    margin: 0 auto;
    max-width: 35%;
}

.form-field, .form-field-select {
    margin-bottom: 7%;
}

.form-field input, .form-field-select select {
    border: 1px solid #dbdbdb;
    color: #484848; 
    padding: 15px;
}

.form-field-select select option {
    color: #a9a9a9;
}

.form-field input, .form-field::placeholder, .form-field-select select {
    font: 1em 'Lato', sans-serif;
}

.form-field input {
    color: #484848;
    height: 20px;
    width: 90%; 
}

.form-field input::placeholder {
    color: #a9a9a9;
}

.form-field-select select {
    background: #fff;
    width: 94.5%; 
}

.form-main h1, .form-main h2 {
    color:#585858;
    font-family: 'Roboto', sans-serif;
    line-height: 90%;
}

.form-main h2 {
    font-size: 1.3em;
}

.form-body {
    line-height: 180%;
    margin: 5% auto;
}

.form-action {
    margin-bottom: 10%;
}

button.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #ff5a5f;
    background-image: none;
    border: 2px solid #ff5a5f;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    padding: 15px 35px;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active {
    background-color: #ff7e82;
    border: 2px solid #ff7e82;
}