.experience-show-main {
    margin: 2% auto;
    max-width: 50%;
}

.experience-show-main h1 {
    font-weight: 700;
    margin-top: 0;
}

.show-img {
    background-position: center;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    width: 85%;
}

.experience-show-main h4 {
    font-weight: 500;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.experience-show-text {
    font-size: 1.3em;
    font-weight: 300;
}

.category {
    margin-bottom: 8%;
}

.body-text {
    margin-bottom: 4%;
}