/* Extend Bootstrap navbar width for 4k resolution  */
@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1770px;
    }
}