.navbar-fixed-top.navbar.navbar-default {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

div.navbar-header a.navbar-brand {
    font: 600 1.2em 'Lato', sans-serif;
    height: 70px;
    letter-spacing: 3px;
    padding: 23px 0;
}

.active.navbar-brand {
    border-bottom: none;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 10px;
}

.navbar-default a {
    color: #585858;
    cursor: pointer;
}
    .navbar-right li:hover {
        opacity: .8;
    }

.active {
    border-bottom: 3px solid #008489;
    padding-bottom: 25px;
}

/* Extend Bootstrap navbar width for 4k resolution  */
@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1770px;
    }
}